.html {
    height: 100vh;
}

body {
    background-image: url("imgs/drakantos/bg.png");
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.builder-container {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 100%;
    background-color: #0000008a;
}

.mid-div {
    display: flex;
    justify-content: center;
}

.character-slot-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.character-container {
    width: 400px;
    margin-left: 90px;
    margin-right: 90px;
    height: 500px;
    text-align: center;
}

.character-slot-image {
    margin-top: 0px;
    max-width: 450px;
    max-height: 450px;
}

.artifact-slot-image,
.trophy-slot-image,
.skill-slot-image,
.character-slot-image {
    cursor: pointer;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-slots {
    display: flex;
    flex-direction: row;
    padding-right: 64px;
}

.skills-container h1 {
    display: block;
}

.skill-slot {
    margin: 10px;
    text-align: center;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#skill-0 img {
    width: 32px;
    height: 32px;
}

#skill-5 {
    width: 96px;
    height: 96px;
    order: 1;
}

#skill-5 img {
    width: 96px;
    height: 96px;
    border-radius: 50px;
}

#skill-3, #skill-4 {
    order: 2;
}

.link-container {
    margin: 20px;
    text-align: center;
}

.link-container input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    align-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(2, 0, 0, 0.1);
    color: rgb(167, 167, 167);
}

.modal h2 {
    text-align: center;
}

.modal-window {
    background-color: rgba(2, 0, 0, 0.9);
    margin: 5% auto;
    margin-top: 10px;
    padding: 0px;
    border: 1px solid #888;
    width: 1150px;
    height: auto;
}

.modal-window-character {
    background-color: rgba(2, 0, 0, 0.89);
    margin: 5% auto;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 73vw;
    height: 80%;
}

.modal-content {
    overflow-y: auto;
    flex-direction: column;
    display: flex;
    height: 100%;
}

.artifact-modal-content,
.trophy-modal-content,
.orb-modal-content {
    display: flex;
    height: 400px;
}

.artifact-modal-bottom,
.trophy-modal-bottom,
.orb-modal-bottom {
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    border-top-style: solid;
    border-width: 1px;
    border-color: white;
}

.artifact-modal-bottom button,
.trophy-modal-bottom button,
.orb-modal-bottom button {
    height: 30px;
}

.artifact-options,
.trophy-options,
.character-options,
.orb-options {
    display: flex;
    flex-wrap: wrap;
}

.artifact-option,
.trophy-option,
.character-option,
.orb-option {
    margin: 10px;
    text-align: center;
    color: white;
}

.artifact-choose-div,
.trophy-choose-div,
.orb-choose-div {
    width: 100%;
    overflow-y: auto;
    border-right-style: solid;
    border-width: 1px;
    padding: 10px;
}

.artifact-preview,
.trophy-preview,
.orb-preview,
.tooltip-preview {
    width: 100%;
}

.artifact-preview-top,
.trophy-preview-top,
.orb-preview-top,
.tooltip-preview-top {
    padding: 10px;
    display: flex;
    font-size: 10px;
    font-weight: bold;
    height: 10px;
    justify-content: space-between;    
    border-bottom-style: solid;
    border-width: 1px;
}

.tooltip-preview-top {
    height: 20px;
    padding: 3px;
}

.tooltip-orb-preview {
    padding-left: 10px;
    display: flex;
    flex-grow: 2;
}

.artifact-name, .trophy-name, .orb-name, .tooltip-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.artifact-charge, .orb-cooldown, .tooltip-cooldown, .tooltip-charge {
    font-size: 16px;
    color: rgb(200, 204, 167);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artifact-description,
.trophy-description,
.orb-description,
.tooltip-description {
    padding: 10px;
    display: flex;
    min-height: 30px;
    overflow-y: auto;
    align-content: start;
}

.artifact-image,
.trophy-image,
.orb-image,
.tooltip-image {
    min-height: 200px;
    padding: 5px 5px 5px 5px;    
    text-align: center;
}

.artifact-image img,
.trophy-image img,
.orb-image img,
.tooltip-image img {
    height: 200px;
    width: 420px;
}

.artifact-search-bar,
.trophy-search-bar,
.orb-search-bar {
    display: flex;
    
    justify-content: space-between;
    padding: 10px;
}

.artifact-search-title,
.trophy-search-title,
.orb-search-title {
    font-size: 20px;
    padding-right: 16px;
    display: flex;    
    align-items: center;
}

.artifact-search-title p,
.trophy-search-title p,
.orb-search-title p{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.artifact-search-input,
.trophy-search-input,
.orb-search-input {
    display: flex;
    flex-grow: 1;
    width: auto;
    align-content: center; 
    flex-wrap: wrap;    
}

.artifact-search-input input, .trophy-search-input input, .orb-search-input input {
    display: flex;
    background-image: url('imgs/search.png');
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-color: #dddddd;
    border-style: none;
    text-align: center;
    padding: 5px 5px 5px 20px;
    margin: 0px 10px 0px 10px;
    flex-grow: 1;
    height: 20px;
}

.ok-button button {
    cursor: pointer;
    background-color: blue;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.cancel-button button {
    cursor: pointer;
    background-color: red;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.orb-image {
    min-width: 64px;
    min-height: 64px;
}

.artifact-option img,
.trophy-option img,
.character-option img,
.orb-option img {    
    cursor: pointer;
}

.character-option {
    width: 150px;
    height: 150px;
    font-size: 100%;
}

#copy-button {
    cursor: pointer;
    background-color: blue;
    /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.selected {
    opacity: .2;
}

.white-highlight, .iris-illusion, .yuki-ice-spike, .yuki-freeze-stack {
    color: white;
}

.cyan-highlight {
    color: cyan;
}

.damage-highlight {
    color: rgb(245, 245, 119)
}

.tooltip-preview {
    visibility: hidden;
    background-color: rgba(2, 0, 0, 0.9);
    color: rgb(167, 167, 167);
    position: absolute;
    width: 25vw;
    min-height: 35vh;
}


@media screen and (max-width: 600px) {
    .mid-div {
        display: flex;
        flex-direction: column;
    }    

    .builder-container {
        display: flex;
    }

    #title {
        margin: 0px;
    }
    
    .artifacts-container, .trophies-container, .skills-container {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }

    .artifacts-container, .trophies-container {
        order: 3;
    }

    .artifacts-container h1, .trophies-container h1, .skills-container h1 {
        margin: 10px 3px 3px 3px;
    }

    .artifact-slots, .trophy-slots {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .skill-slots {
        padding-right: 48px;
    }

    .skill-slot {
        margin: 5px;
        text-align: center;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .skill-slot img {
        width: 48px;
        height: 48px;
    }

    #skill-0 img {
        width: 24px;
        height: 24px;
    }

    #skill-5 {
        width: 72px;
        height: 72px;
        order: 1;
    }

    #skill-5 img {
        width: 72px;
        height: 72px;
        border-radius: 50px;
    }

    #skill-3, #skill-4 {
        order: 2;
    }

    .character-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        width: auto;
        height: auto;
    }

    .character-slot-name {
        padding: 0px;
        margin: 5px 0px 0px 0px;
    }

    .character-slot-image {
        width: 40vw;
        order: 2;
    }

    .link-container {
        margin: 5px;
        display: flex;
        height: 35px;
    }

    #copy-button {
        padding: 1px 10px 1px 10px;
        display: flex;
        font-size: 10px;
        align-items: center;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        align-content: start;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: rgba(2, 0, 0, 0.1);
        color: rgb(167, 167, 167);
    }


    .modal-window {
        width: 100vw;
        height: 90vh;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    
    .artifact-modal-content,
    .trophy-modal-content,
    .orb-modal-content {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 90vh;
    }

    .artifact-modal-bottom,
    .trophy-modal-bottom,
    .orb-modal-bottom {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        border-top-style: solid;
        border-width: 1px;
        border-color: white;
    }
    .ok-button button {
        cursor: pointer;
        background-color: blue;
        border: none;
        color: white;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
    }

    .cancel-button button {
        cursor: pointer;
        background-color: red;
        border: none;
        color: white;
        padding: 1vh 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
    }    

    .artifact-choose-div,
    .trophy-choose-div,
    .orb-choose-div {
        display: flex;
        flex-direction: column;
        height: 20vh;
        padding: 0px;
    }

    .artifact-search-title,
    .trophy-search-title,
    .orb-search-title {
        font-size: 15px;
    }

    .artifact-search-input input,
    .trophy-search-input input,
    .orb-search-input input{
        padding: 4px 4px 4px 20px;
        margin: 0px 15px 0px 10px;
        flex-grow: 1;
        height: 15px;    
    }

    .artifact-options,
    .trophy-options,
    .orb-options {
        height: 15vh;
    }

    .artifact-options img,
    .trophy-option img,
    .orb-option img {
        width: 48px;
    }

    .artifact-option
    .trophy-option,
    .orb-option {
        margin: 5px;
    }

    .artifact-preview
    .trophy-preview,
    .orb-preview,
    .tooltip-preview {
        display: flex;
        flex-direction: column;
        min-height: 40vh;
    }

    .artifact-preview-top,
    .trophy-preview-top,
    .orb-preview-top,
    .tooltip-preview-top {
        border-style: solid;
    }

    .tooltip-preview-top {
        height: 20px;
        padding: 3px;
    }

    .tooltip-orb-preview {
        padding-left: 10px;
        display: flex;
        flex-grow: 1;
    }

    .artifact-preview img,
    .trophy-preview img,
    .orb-preview img,
    .tooltip-preview img {
        width: 90vw;
    }

    .iris-illusion img, .yuki-ice-spike img, .yuki-freeze-stack img {
        width: auto;
    }

    .tooltip-orb-preview img{
        width: auto;
    }   

    .artifact-description,
    .trophy-description,
    .orb-description,
    .tooltip-description {
        display: flex;
        flex-grow: 2;
        padding: 10px;
        display: flex;
        overflow-y: auto;
        align-content: start;
    }

    .modal-window-character {
        width: 100vw;
        height: 100vh;
        padding: 0px;
        margin: 0px;
    }

    .character-option {
        width: 14vh;
    }

    .tooltip-preview {
        width: 100vw;
    }
}