body {

    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    background-color: #000000;
    flex-direction: row;
    display: flex;
}

.builder-container {
    text-align: center;
    color: rgb(255, 255, 255);
    border-style: solid;
    width: 70%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.mid-div {
    display: flex;
    justify-content: center;
}

.character-slot-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.character-container {
    width: 400px;
    margin-left: 90px;
    margin-right: 90px;
    height: 500px;
    text-align: center;
}

.character-slot-image {
    margin-top: 0px;
    max-width: 450px;
    max-height: 450px;
}

.artifact-slot-image, .trophy-slot-image, .skill-slot-image, .character-slot-image {
    cursor: pointer;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-container h1 {
    display: block;
}

.skill-slot {
    margin: 10px;
    text-align: center;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#skill-0 img{
    width: 32px;
    height: 32px;
}

#skill-3 {
    width: 96px;
    height: 96px;
}

#skill-3 img {
    width: 96px;
    height: 96px;    
    border-radius: 50px;
}

.link-container {
    margin: 20px;
    text-align: center;
}

.link-container input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    align-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(2, 0, 0, 0.99);
    color: white;
}

.modal h2 {
    text-align: center;    
}

.modal-window {
    background-color: #000000;
    margin: 5% auto;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 1150px;
    height: auto;
}

.artifact-modal-content, .trophy-modal-content, .orb-modal-content {
    display: flex;
    height: 400px;
}

.artifact-modal-bottom, .trophy-modal-bottom, .orb-modal-bottom {
    display: flex;
    height: 30px;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.artifact-modal-bottom button, .trophy-modal-bottom button, .orb-modal-bottom button {
    height: 30px;
}

.artifact-options, .trophy-options, .character-options, .orb-options {
    display: flex;
    flex-wrap: wrap;
}

.artifact-option, .trophy-option, .character-option, .orb-option {
    margin: 10px;
    text-align: center;
    color: white;
    width: 70px;
    height: 70px;
}

.artifact-choose-div, .trophy-choose-div, .orb-choose-div {
    width: 100%;
    overflow-y: auto;
    border-right-style: solid;
}

.artifact-preview, .trophy-preview, .orb-preview {
    justify-content: center;
    text-align: center;
    width: 100%;
}

.artifact-name, .trophy-name {
    height: 10%;
}

.artifact-description, .trophy-description, .orb-description {
    height: 30%;
    overflow-y: auto;
}

.artifact-image, .trophy-image, .orb-image {
    height: 45%;
    padding: 5%;
    align-content: end;
}

.orb-image {
    min-width: 64px;
    min-height: 64px;
}

.artifact-option img, .trophy-option img, .character-option img, .orb-option img{
    cursor: pointer;    
}

.character-option {
    width: 150px;
    height: 150px;
    font-size: 100%;
}

.artifact-name, .trophy-name, .character-name, .orb-name {
    font-weight: bold;
    overflow-wrap: break-word;
}
