body { 
    margin: 0; 
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#map { 
    flex-grow: 1;
    height: 100vh; 
    background: #000; 
}

#panel {
    display: flex;
    flex-direction: column;
    width: 250px;           /* Largura fixa do painel */
    height: 100vh;
    background-color: #222; /* Cor escura para combinar com o dark gray */
    color: white;
    padding: 2px;
    border-right: 2px solid #444;
    justify-items: center;
}

#panel h2 {
    text-align: center;
}

#coords-display {        
        background: rgba(0, 0, 0, 0.7);
        color: #00ff00; /* Estilo terminal/dev */
        padding: 4px 4px;
        border-radius: 4px;
        font-family: monospace;
        text-align: center;
}

.leaflet-tile {
      image-rendering: -webkit-optimize-contrast;
      image-rendering: pixelated;
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor;
    }

.leaflet-zoom-animated svg 
.leaflet-zoom-animated svg path{
    image-rendering: pixelated;
    shape-rendering: crispEdges;
}

.leaflet-tile {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#commands {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.distance {        
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.dist-btn {    
    border-radius: 30px;    
    cursor: pointer;
}

.dist-btn:hover {
    border: 4px solid rgb(255, 50, 50);
}

.dist-btn.active {
    border: 4px solid white;
}

.directions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
}

.directions {
    cursor: pointer;
}

.dir-btn:hover {
    border-radius: 30px;
    background-color: #d41818;
}

.clear-panel {
    width: 90%;
    align-self: center;
}

.clear-panel button img {
    display: block;
    padding-left: 10px;
}

.clear-panel button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.floor-control {
    display: flex;
    flex-direction: column;
}

.floor-control button {
    width: 30px;
    height: 30px;
    background-color: white;
    border-style: hidden;
    font-weight: bold;
    cursor: pointer;
}

.floor-control button:hover {
    background-color: #f4f4f4;
}

.floor-control button:active {
    background-color: #ddd;
}

#pos-list {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 10px;
    overflow-y: auto;
}

.pos-item {
    display: flex;    
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
}

.pos-item img {
    margin-left: auto;
    object-fit: cover;
    width: 24px;
    height: 24px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}