body { 
    margin: 0; 
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#map { 
    flex-grow: 1;
    height: 100vh; 
    background: #000; 
}

#panel {
    width: 250px;           /* Largura fixa do painel */
    height: 100vh;
    background-color: #222; /* Cor escura para combinar com o dark gray */
    color: white;
    padding: 2px;
    border-right: 2px solid #444;
}

#panel h2 {
    text-align: center;
}

#coords-display {        
        background: rgba(0, 0, 0, 0.7);
        color: #00ff00; /* Estilo terminal/dev */
        padding: 4px 4px;
        border-radius: 4px;
        font-family: monospace;
        text-align: center;
}

.leaflet-tile {
      image-rendering: -webkit-optimize-contrast;
      image-rendering: pixelated;
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor;
    }

.leaflet-zoom-animated svg 
.leaflet-zoom-animated svg path{
    image-rendering: pixelated;
    shape-rendering: crispEdges;
}

.leaflet-tile {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#commands {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.distance {        
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dist-btn {    
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.dist-btn.active {
    border: 4px solid white;
}

.dist-btn.g {
    background-color: green;
    color: green;
}
.dist-btn.y {
    background-color: yellow;
    color: yellow;
}
.dist-btn.r {
    background-color: red;
    color: red;
}

.directions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}

.directions button {
    border-radius: 10px;
    border-style: solid;
    color: #333;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 25px;
}

#pos-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 60%;
    overflow-y: scroll;
}

.pos-item {
    display: flex;    
    align-content: center;
    text-align: center;
    width: 90%;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    justify-content: space-between;
    padding: 2px;
    margin-bottom: 2px;
}

.pos-item button {
    background-color: #555;
    color: white;
}

#clear-btn {
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    background-color: #555;
    color: white;
}

.floor-control {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.floor-control button {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.floor-control button:hover {
    background-color: #f4f4f4;
}

.floor-control button:active {
    background-color: #ddd;
}